.sign-up-link {
    display: block;
    background: $very-dark-purple;
    color: $white !important;
    text-align: center;
    width: 100%;
    border-radius: 2.5rem;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    padding: clamp(.3rem, 2vw, .625rem) clamp(1.45rem, 2vw, 1.5rem);
    transition: .2s;

    &:hover, &:active, &:focus-visible {
        background-color: $very-darker-purple;
        outline: 0;
        transition: .2s;

        &:active, &:focus-visible {
            box-shadow: inset 0 0 0 0.2rem #d7d2e8;
        }
    }    
}

.hero-container {
    .sign-up-link {
        width: fit-content !important;
        font-size: clamp(1.125rem, 2.5vw, 1.25rem);
    }
}