@import '../../style/mixins';

.feature-cards-container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 0 clamp(1rem, 5vw, 5rem);
}

.feature-card {
    @include flex-col-center(.5rem);
    text-align: center;
    
    h3 {
        @include heading($minVal: 1.125rem, $prefVal: 1.75vw, $maxVal: 1.25rem);
    }

    p {
        @include paragraph($minVal: 1rem, $prefVal: 1rem, $maxVal: 1rem);
    }
}

@media screen and (min-width: 768px) {
    .feature-cards-container {
        flex-direction: row;
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .feature-cards-container {
        max-width: 1440px;
        margin: auto;
    }
}