@import '../../style/mixins';

.cta-wrapper {
    padding: 0 clamp(1rem, 5vw, 5rem);
}

.cta-container {
    padding: 1.5rem;
    background-color: #201445;
    display: grid;
    gap: 1rem;
    text-align: center;
    border-radius: .45rem;

    h2 {
        @include heading($minVal: 1.5rem, $prefVal: 4.5vw, $maxVal: 2.25rem, $color: $white);
    }

    p {
        @include paragraph($minVal: 1rem, $prefVal: 1.75vw, $maxVal: 1.125rem, $color: #d7d2e8);
    }

    a {
        background-color: #7D69BA;
        margin: auto;
        width: fit-content;
    }
}

@media screen and (min-width: 768px) {
    .cta-container {
        padding: 2.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .cta-wrapper {
        width: 100%;
        max-width: 1440px;
        margin: auto;
    }

    .cta-container {
        padding: 4rem;
    }
}