header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    
    // SVG LOGO
    .header-logo-link, svg {
        width: fit-content;
        display: block;

        svg {
            width: 76px;
            height: 27px;
            fill: $very-dark-purple;
            transition: .15s ease-in-out;
        }

        &:hover, &:focus-visible {
            svg {
                fill: $darkest-purple;
                transition: .15s ease-in-out;   
            }
        }

        &:focus-visible {
            outline-offset: 5px;
        }
    }
    // SVG LOGO
    
    .mobile-navigation {
        display: unset;
    }

    .desktop-navigation {
        display: none;
    }

    @media screen and (min-width: 1024px) {
        .mobile-navigation {
            display: none;
        }

        .desktop-navigation {
            display: unset;
        }
    }

    .header-login-button, button:nth-child(2) {
        padding: .25rem 1rem;
    }

    button:nth-child(2), li button {
        border: none;
        background: none;
        display: inline-flex;
        align-items: center;
        gap: .25rem;
    }
}