@font-face {
    font-family: Tiempos-Bold;
    src: url('../style/fonts/TestTiemposText-Bold.otf');
}

@font-face {
    font-family: Tiempos-BoldItalic;
    src: url('../style/fonts/TestTiemposText-BoldItalic.otf');
}

@font-face {
    font-family: Tiempos-Medium;
    src: url('../style/fonts/TestTiemposText-Medium.otf');
}

@font-face {
    font-family: Tiempos-MediumItalic;
    src: url('../style/fonts/TestTiemposText-MediumItalic.otf');
}

@font-face {
    font-family: Tiempos-Regular;
    src: url('../style/fonts/TestTiemposText-Regular.otf');
}

@font-face {
    font-family: Tiempos-RegularItalic;
    src: url('../style/fonts/TestTiemposText-RegularItalic.otf');
}

@font-face {
    font-family: Tiempos-SemiBold;
    src: url('../style/fonts/TestTiemposText-SemiBold.otf');
}

@font-face {
    font-family: Tiempos-SemiBold;
    src: url('../style/fonts/TestTiemposText-SemiBoldItalic.otf');
}