@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@400;700&display=swap");
@font-face {
  font-family: Tiempos-Bold;
  src: url("../style/fonts/TestTiemposText-Bold.otf");
}
@font-face {
  font-family: Tiempos-BoldItalic;
  src: url("../style/fonts/TestTiemposText-BoldItalic.otf");
}
@font-face {
  font-family: Tiempos-Medium;
  src: url("../style/fonts/TestTiemposText-Medium.otf");
}
@font-face {
  font-family: Tiempos-MediumItalic;
  src: url("../style/fonts/TestTiemposText-MediumItalic.otf");
}
@font-face {
  font-family: Tiempos-Regular;
  src: url("../style/fonts/TestTiemposText-Regular.otf");
}
@font-face {
  font-family: Tiempos-RegularItalic;
  src: url("../style/fonts/TestTiemposText-RegularItalic.otf");
}
@font-face {
  font-family: Tiempos-SemiBold;
  src: url("../style/fonts/TestTiemposText-SemiBold.otf");
}
@font-face {
  font-family: Tiempos-SemiBoldItalic;
  src: url("../style/fonts/TestTiemposText-SemiBoldItalic.otf");
}
body {
  border: 1px solid red;
  font-family: Inter, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}
header .header-logo-link, header svg {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}
header .header-logo-link svg, header svg svg {
  width: 76px;
  height: 27px;
  fill: #4b2aad;
  transition: 0.15s ease-in-out;
}
header .header-logo-link:hover svg, header .header-logo-link:focus-visible svg, header svg:hover svg, header svg:focus-visible svg {
  fill: #201445;
  transition: 0.15s ease-in-out;
}
header .header-logo-link:focus-visible, header svg:focus-visible {
  outline-offset: 5px;
}
header .mobile-navigation {
  display: unset;
}
header .desktop-navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  header .mobile-navigation {
    display: none;
  }
  header .desktop-navigation {
    display: unset;
  }
}
header .header-login-button, header button:nth-child(2) {
  padding: 0.25rem 1rem;
}
header button:nth-child(2), header li button {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
header .dropdown-menu {
  padding: 1rem 0;
}
header .dropdown-menu h3 {
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #9c8881;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
header .dropdown-menu a {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  color: #5c5856;
}
header .dropdown-menu.dropdown-menu-features ul {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #dfd8d3;
}
header .dropdown-menu.dropdown-menu-features a:nth-child(3) {
  color: #4b2aad;
  font-weight: 600;
}
header .dropdown-menu.dropdown-menu-features a:nth-child(3) span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}/*# sourceMappingURL=general.css.map */