// Google Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@400;700&display=swap');
// Tiempos Text Font - https://klim.co.nz/retail-fonts/tiempos-text/
@import './fonts';
@import './variables';
@import './mixins';

body {
    font-family: Inter, sans-serif;
    background: #fdfbf9;
}

main {
    margin: clamp(3.5rem, 4vw, 6rem) 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(3.5rem, 7vw, 7rem);
}

section:not([class]) {
    display: grid;
    gap: 3.5rem;
}

.skipnav {
    color: #fdfbf9 !important;
    font-size: .875rem;
    font-weight: 500;
    background-color: #351e7a;
    padding: 0.5rem 1rem;
    position: fixed;
    border-radius: 2.65rem;
    transition: .2s;
    transform: translateY(-100%);
    opacity: 0;

    &:focus-visible {
        outline: none;
        box-shadow: inset 0 0 0 0.2rem #d7d2e8;
        transform: translateY(0%);
        opacity: 1;
        transition: .2s;
    }
}

@import '../components/SignupLink/signuplink';
@import '../components/Header/header';
@import '../components/Hero/hero';
@import '../components/SectionHeading/sectionheading';
@import '../components/FeatureCard/featurecard';
@import '../components/Testimonial/testimonial';
@import '../components/CallToAction/calltoaction';
@import '../components/Footer/footer';