@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@400;700&display=swap");
@font-face {
  font-family: Tiempos-Bold;
  src: url("../style/fonts/TestTiemposText-Bold.otf");
}
@font-face {
  font-family: Tiempos-BoldItalic;
  src: url("../style/fonts/TestTiemposText-BoldItalic.otf");
}
@font-face {
  font-family: Tiempos-Medium;
  src: url("../style/fonts/TestTiemposText-Medium.otf");
}
@font-face {
  font-family: Tiempos-MediumItalic;
  src: url("../style/fonts/TestTiemposText-MediumItalic.otf");
}
@font-face {
  font-family: Tiempos-Regular;
  src: url("../style/fonts/TestTiemposText-Regular.otf");
}
@font-face {
  font-family: Tiempos-RegularItalic;
  src: url("../style/fonts/TestTiemposText-RegularItalic.otf");
}
@font-face {
  font-family: Tiempos-SemiBold;
  src: url("../style/fonts/TestTiemposText-SemiBold.otf");
}
@font-face {
  font-family: Tiempos-SemiBoldItalic;
  src: url("../style/fonts/TestTiemposText-SemiBoldItalic.otf");
}
body {
  font-family: Inter, sans-serif;
  background: #fdfbf9;
}

main {
  margin: clamp(3.5rem, 5vw, 6rem) 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(3.5rem, 7vw, 7rem);
}

section:not([class]) {
  display: grid;
  gap: 3.5rem;
}

.sign-up-link {
  display: block;
  background: #4b2aad;
  color: #ffffff !important;
  text-align: center;
  width: 100%;
  border-radius: 2.5rem;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  padding: clamp(0.3rem, 2vw, 0.625rem) clamp(1.45rem, 2vw, 1.5rem);
  transition: 0.2s;
}
.sign-up-link:hover, .sign-up-link:active, .sign-up-link:focus-visible {
  background-color: #351e7a;
  outline: 0;
  transition: 0.2s;
}
.sign-up-link:hover:active, .sign-up-link:hover:focus-visible, .sign-up-link:active:active, .sign-up-link:active:focus-visible, .sign-up-link:focus-visible:active, .sign-up-link:focus-visible:focus-visible {
  box-shadow: inset 0 0 0 0.2rem #d7d2e8;
}

.hero-container .sign-up-link {
  width: -moz-fit-content !important;
  width: fit-content !important;
  font-size: clamp(1.125rem, 2.5vw, 1.25rem);
}

.header {
  position: sticky;
  top: 0;
  transition: 0.2s;
}
.header.header-scrolled {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0.05rem 0px, rgba(0, 0, 0, 0.1) 0px 0.1rem 0.2rem;
  background: #ffffff;
  transition: 0.2s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem clamp(1.25rem, 5vw, 5rem);
}
header svg, header .rotate {
  transition: 0.2s;
}
header svg.rotate, header .rotate.rotate {
  transform: rotate(180deg);
}
header .header-logo-link, header svg {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}
header .header-logo-link svg, header svg svg {
  width: 76px;
  height: 27px;
  fill: #4b2aad;
  transition: 0.15s ease-in-out;
}
header .header-logo-link:hover svg, header .header-logo-link:focus-visible svg, header svg:hover svg, header svg:focus-visible svg {
  fill: #201445;
  transition: 0.15s ease-in-out;
}
header .header-logo-link:focus-visible, header svg:focus-visible {
  outline-offset: 5px;
}
header .mobile-navigation {
  display: unset;
}
header .desktop-navigation {
  display: none;
}
header .header-login-button, header button:nth-child(2) {
  padding: 0.25rem 1rem;
}
header button:nth-child(2), header li button {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
header .mobile-menu-container {
  position: absolute;
  background: #ffffff;
  border: 1px solid #dfd8d3;
  border-radius: 0.45rem;
  margin: 0.45rem;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.25rem;
}
header .mobile-menu-container .close-menu-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #9c8881;
}
header .mobile-menu-container .close-menu-button:active svg {
  color: #4b2aad;
}
header .mobile-menu-container li, header .mobile-menu-container li button {
  font-family: Tiempos-Regular, sans-serif;
  font-size: 1.25rem;
  border: none;
  background: none;
}
header .mobile-menu-container li:nth-child(1):not(button, .dropdown-menu li), header .mobile-menu-container li button:nth-child(1):not(button, .dropdown-menu li) {
  margin-top: 2rem;
}
header .mobile-menu-container li:nth-last-child(1):not(button, .dropdown-menu li), header .mobile-menu-container li button:nth-last-child(1):not(button, .dropdown-menu li) {
  margin-top: 1rem;
}
header .mobile-menu-container li:is(button), header .mobile-menu-container li button:is(button) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .mobile-menu-container ul:not(.dropdown-menu ul) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
header .dropdown-menu {
  padding: 1rem 0;
}
header .dropdown-menu h3 {
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #9c8881;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
header .dropdown-menu a {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  color: #5c5856;
  transition: 0.2s;
  display: inline-block;
  padding: 0.5rem 0;
}
header .dropdown-menu a:hover, header .dropdown-menu a:active, header .dropdown-menu a:focus-visible {
  color: #4b2aad;
  transition: 0.2s;
}
header .dropdown-menu.dropdown-menu-features ul {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #dfd8d3;
}
header .dropdown-menu.dropdown-menu-features a:nth-child(3) {
  color: #4b2aad;
  font-weight: 600;
}
header .dropdown-menu.dropdown-menu-features a:nth-child(3) span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 1024px) {
  header {
    max-width: 1440px;
    margin: auto;
  }
  header .mobile-navigation {
    display: none;
  }
  header .desktop-navigation {
    display: unset;
  }
  header nav {
    flex-grow: 1;
    margin-left: 2rem;
  }
  header nav ul {
    display: flex;
    align-items: center;
  }
  header nav ul a:not(.dropdown-menu a, .sign-up-link), header nav ul button {
    font-size: 1.125rem;
    padding: 0.75rem clamp(0.5rem, 1.375vw, 1rem);
    border-radius: 2rem;
    transition: 0.2s;
  }
  header nav ul a:not(.dropdown-menu a, .sign-up-link):not(.dropdown-menu a, .sign-up-link):hover, header nav ul a:not(.dropdown-menu a, .sign-up-link):not(.dropdown-menu a, .sign-up-link):focus-visible, header nav ul button:not(.dropdown-menu a, .sign-up-link):hover, header nav ul button:not(.dropdown-menu a, .sign-up-link):focus-visible {
    background-color: #f5efeb;
    color: #1a1715;
    transition: 0.2s;
  }
  header nav ul a:not(.dropdown-menu a, .sign-up-link):not(.dropdown-menu a):focus-visible, header nav ul a:not(.dropdown-menu a, .sign-up-link):not(.dropdown-menu a):active, header nav ul button:not(.dropdown-menu a):focus-visible, header nav ul button:not(.dropdown-menu a):active {
    box-shadow: inset 0 0 0 0.2rem #d7d2e8;
    outline: none;
  }
  header nav ul li:has(button) {
    position: relative;
  }
  header nav ul li:has(button) svg {
    min-width: 10px;
  }
  header nav ul li:has(button) .dropdown-menu {
    position: absolute;
    padding: 1.5rem;
    background: #ffffff;
    border: 1px solid #dfd8d3;
    border-radius: 0.45rem;
    box-shadow: 0 0.45rem 0.9rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.02);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    min-width: 27.5rem;
  }
  header nav ul li:has(button) .dropdown-menu ul {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: unset !important;
    margin-bottom: unset !important;
    padding-bottom: unset !important;
  }
  header nav ul li:has(button) .dropdown-menu a {
    font-size: 0.9375rem;
  }
  header nav ul li:has(button) .dropdown-menu.dropdown-menu-features div:first-child {
    border-right: solid #dfd8d3 1px;
    margin-right: 2rem;
  }
  header nav ul li:has(button) .dropdown-menu.dropdown-menu-features a:nth-child(3) {
    margin-top: 1.25rem;
    padding: 1.25rem 0 0 0;
    width: 100%;
    border-top: 0.1rem solid #dfd8d3;
    grid-column: 1/n;
  }
  header nav ul li:has(button) .dropdown-menu.dropdown-menu-features a:nth-child(3):hover, header nav ul li:has(button) .dropdown-menu.dropdown-menu-features a:nth-child(3):focus-visible, header nav ul li:has(button) .dropdown-menu.dropdown-menu-features a:nth-child(3):active {
    color: #351e7a;
  }
  header nav ul li:has(button) .dropdown-menu.dropdown-menu-resources div:nth-child(2) {
    display: flex;
    align-items: flex-end;
  }
  header nav ul li:not(.dropdown-menu li):nth-last-child(2) {
    margin-left: auto;
    margin-right: 0.5rem;
  }
}
.hero-container {
  padding: 0 clamp(1rem, 5vw, 5rem);
  display: grid;
  gap: 3.5rem;
  align-items: center;
}
.hero-container .hero-text {
  display: grid;
  gap: 1rem;
}
.hero-container img {
  order: -1;
  border-radius: 0.45rem;
}
.hero-container .hero-pre-heading {
  display: inline-block;
  color: #817065;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: -0.75rem;
}
.hero-container h1, .hero-container h3 {
  font-family: Tiempos-Medium, sans-serif;
  font-weight: 400;
  font-size: clamp(2rem, 4.5vw, 3.125rem);
  line-height: 1.3;
  color: #1a1715;
}
.hero-container h3 {
  font-size: clamp(1.5rem, 4.5vw, 1.875rem);
}
.hero-container p {
  color: #5c5856;
  font-size: clamp(1.125rem, 2.5vw, 1.25rem);
}
.hero-container .hero-link-secondary {
  display: inline-block;
  color: #4b2aad;
  font-weight: 600;
  font-size: clamp(1.125rem, 2.5vw, 1.25rem);
}
.hero-container .hero-link-secondary span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  transition: 0.2s;
}
.hero-container .hero-link-secondary:hover span, .hero-container .hero-link-secondary:active span, .hero-container .hero-link-secondary:focus-visible span {
  transform: translateX(4px);
  transition: 0.2s;
}

@media screen and (min-width: 768px) {
  .hero-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .hero-container img {
    order: 1;
  }
}
@media screen and (min-width: 1024px) {
  .hero-container {
    max-width: 1440px;
    margin: auto;
  }
}
.section-heading {
  padding: 0 clamp(1rem, 5vw, 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.section-heading h2 {
  font-size: clamp(1.5rem, 3.5vw, 2.25rem);
  font-family: Tiempos-Medium, sans-serif;
  font-weight: 400;
  font-size: clamp(1.5rem, 3.5vw, 2.25rem);
  line-height: 1.3;
  color: #1a1715;
}
.section-heading p {
  color: #5c5856;
  font-size: clamp(1.125rem, 2.5vw, 1.25rem);
}

@media screen and (min-width: 1024px) {
  .section-heading {
    max-width: 1300px;
    margin: auto;
  }
}
.feature-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 0 clamp(1rem, 5vw, 5rem);
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.feature-card h3 {
  font-family: Tiempos-Medium, sans-serif;
  font-weight: 400;
  font-size: clamp(1.125rem, 1.75vw, 1.25rem);
  line-height: 1.3;
  color: #1a1715;
}
.feature-card p {
  color: #5c5856;
}

@media screen and (min-width: 768px) {
  .feature-cards-container {
    flex-direction: row;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .feature-cards-container {
    max-width: 1440px;
    margin: auto;
  }
}
figure {
  padding: 0 clamp(1rem, 5vw, 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin: 2.5rem auto;
}
figure img {
  width: 180px;
}
figure blockquote {
  font-family: Tiempos-Regular, sans-serif;
  font-size: clamp(1.125rem, 1.75vw, 1.25rem);
}
figure figcaption {
  font-size: clamp(1rem, 1.75vw, 1.125rem);
  color: #5c5856;
}

@media screen and (min-width: 1024px) {
  figure {
    max-width: 1000px;
  }
}
.cta-wrapper {
  padding: 0 clamp(1rem, 5vw, 5rem);
}

.cta-container {
  padding: 1.5rem;
  background-color: #201445;
  display: grid;
  gap: 1rem;
  text-align: center;
  border-radius: 0.45rem;
}
.cta-container h2 {
  font-family: Tiempos-Medium, sans-serif;
  font-weight: 400;
  font-size: clamp(1.5rem, 4.5vw, 2.25rem);
  line-height: 1.3;
  color: #ffffff;
}
.cta-container p {
  color: #d7d2e8;
  font-size: clamp(1rem, 1.75vw, 1.125rem);
}
.cta-container a {
  background-color: #7D69BA;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .cta-container {
    padding: 2.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .cta-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
  .cta-container {
    padding: 4rem;
  }
}/*# sourceMappingURL=general.css.map */