@import '../../style/mixins';

footer {
    padding: clamp(3.5rem, 4vw, 6rem) 0;
    background: #f5efeb;

    .footer-content {
        padding: 0 clamp(1rem, 5vw, 5rem);

        button {
            @include dropdownButton($minVal: 1.125rem, $prefVal: 1.125rem, $maxVal: 1.125rem);
        }

        h3, .footer-content-desktop {
            display: none;
        }

        a {
            @include dropdownLink;
            text-decoration: underline;
            text-decoration-thickness: 0.01em;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer-content {
        max-width: 1440px;
        margin: auto;

        button, .footer-content-mobile {
            display: none !important;
        }
        
        h3 {
            display: unset !important;
            font-weight: 600;
            line-height: 1.8;
            color: #1a1715;
        }

        .footer-content-desktop {
            display: flex !important;
            flex-direction: column;
            gap: .5rem;
            
            ul, li {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}