@import '../../style/mixins';

footer {
    padding: clamp(3.5rem, 4vw, 6rem) 0;
    background: #f5efeb;

    .footer-content {
        padding: 0 clamp(1rem, 5vw, 5rem);

        button {
            @include dropdownButton($minVal: 1.125rem, $prefVal: 1.125rem, $maxVal: 1.125rem);
        }

        h3, .footer-content-desktop {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer-content {
        max-width: 1440px;
        margin: auto;

        button, .footer-content-mobile {
            display: none !important;
        }

        h3, .footer-content-desktop {
            display: unset !important;
        }
    }
}