@import '../../style/mixins';

figure {
    padding: 0 clamp(1rem, 5vw, 5rem);
    @include flex-col-center;
    text-align: center;
    margin: 2.5rem auto;
    
    img {
        width: 180px;
    }

    blockquote {
        font-family: Tiempos-Regular, sans-serif;
        font-size: clamp(1.125rem, 1.75vw, 1.25rem);
    }

    figcaption {
        @include paragraph($minVal: 1rem, $prefVal: 11.75vw, $maxVal: 1.125rem);
    }
}

@media screen and (min-width: 1024px) {
    figure {
        max-width: 1000px;
    }
}